.card{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
}
button{
    font-family: Impact;
    font-size: 40px;
    background: none;
    color: azure;
    border: none;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    outline: none;
    position: relative;
}
button::before{
    content: '';
    background: rgba(66, 0, 255, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
button:hover{
    animation: wiggle 0.5s;
}
button:hover::before{
    background: radial-gradient( rgba(66, 0, 255, .85)50%, rgba(210,110,210,.85));
    filter: url('#wave');
}
#canvas1{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link{
    color: azure;
}
a:visited{
    color: azure;
}

@keyframes wiggle {
    0%{
        transform: scaleY(1);
    }
    60%{
        transform: scaleY(1.5);
    }
    80%{
        transform: scaleY(0.9);
    }
    100%{
        transform: scaleY(1);
    }
}