*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background:  rgba(0,0,0,1);
    filter:url('#liquid');
}

#svg1{
    transform: rotateX(120deg);
    visibility: hidden;
    position: absolute;
    left: 40%;
}


#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(20px 2px rgba(25,0,0,.5));
}